<div
  class="flex flex-wrap text-sm justify-end gap-4 items-center -mt-2 px-2 mb-2"
>
  <a
    href="https://womenintechcentralar.org/annual-membership"
    class="font-semibold hover:underline"
  >
    Become a Member
  </a>
  <a
    href="https://womenintechcentralar.org/partnership-%26-sponsorship"
    class="font-semibold hover:underline"
  >
    Become a Sponsor
  </a>
</div>